<mat-sidenav-container fullscreen>

    <mat-sidenav #start>
        <mat-nav-list (click)="start.close()">

            <a mat-list-item routerLink="/courses" >
                <mat-icon>library_books</mat-icon>
                <span>Courses</span>
            </a>

            <a mat-list-item routerLink="/login" *ngIf="isLoggedOut$ | async">
                <mat-icon>account_circle</mat-icon>
                <span>Login</span>
            </a>

            <a mat-list-item  (click)="logout()" *ngIf="isLoggedIn$ | async">
                <mat-icon>exit_to_app</mat-icon>
                <span>Logout</span>
            </a>

        </mat-nav-list>

    </mat-sidenav>

    <mat-toolbar color="primary">
        <button class="menu-button" mat-icon-button (click)="start.open('mouse')">
            <mat-icon>menu</mat-icon>
        </button>
    </mat-toolbar>

  <div class="spinner-container" *ngIf="loading">

    <mat-spinner></mat-spinner>

  </div>

    <router-outlet></router-outlet>

</mat-sidenav-container>
